<!DOCTYPE html>
<html ng-app="persist">
	<head>
		<title>Probeaufgabe</title>
 		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootstrap-theme.css" rel="stylesheet" />
		<link href="font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="lib/quill/quill.snow.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<script src="lib/jquery-1.11.3.min.js"></script>
		<script src="lib/ckeditor/ckeditor.js"></script>
		<script src="lib/quill/quill.js"></script>
		<script src="lib/angular.js"></script>

		<script>
			var persist = angular.module("persist", []);

			persist.factory("CKE", function () {
				return CKEDITOR;
			});

			persist.factory("Quill", function () {
				return Quill;
			});
		</script>

		<script src="controller/EditorController.js"></script>
		<script src="directives/ckeditor.js"></script>
		<script src="directives/quill.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="editorController">
			<h1>Quill-Demo</h1>
			<div quill-editor ng-model="editorData" class="quill-editor"></div>
			<h4>Model Data:</h4>
			<textarea class="editor-data" ng-model="editorData"></textarea>
			<button ng-click="sendEvent()">Send Event template-editor:body:insert</button>
		</div>

		<div class="container">
			<div class="demo-divider"></div>
		</div>

		<div class="container" ng-controller="editorController">
			<h1>ckeditor-Demo</h1>
			<div ckeditor ng-model="editorData"></div>
			<h4>Model Data:</h4>
			<textarea class="editor-data" ng-model="editorData"></textarea>
			<button ng-click="sendEvent()">Send Event template-editor:body:insert</button>
		</div> 
	</body>
</html>
