textarea.editor-data {
	display: block;
	min-height: 150px;
	width: 100%;
	margin: 5px 0px;
}

.ql-sourcecode.ql-active,
.ql-sourcecode:hover {
	color: #0066CC;
}

.ql-remove-format:hover {
	color: #0066CC;
}

.ql-sourcecode {
	font-weight: bold;
}

.quill-editor {
	border: 1px solid #aaaaaa;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.quill-toolbar-container {
	background: #cfd1cf linear-gradient(to bottom, #f5f5f5, #cfd1cf) repeat scroll 0 0;
}


.demo-divider {
	display: block;
	height: 4px; 
	background: #c5c5c5;
	margin: 40px 0px;
}